STM32F4*/.mxproject
STM32F4*/MDK-ARM/DebugConfig/
STM32F4*/MDK-ARM/RTE/
STM32F4*/MDK-ARM/STM32F4*/
STM32F4*/MDK-ARM/EventRecorderStub.scvd
STM32F4*/MDK-ARM/startup_stm32f4*.lst
STM32F4*/MDK-ARM/STM32F4*.uvguix.mgr
